<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/image/profile_copy.gif', alt='Profile picture')
        .dev-intro-box

          h5 Paul Bailey

          p Creative, innovative, meticulous, and technical, with extremely strong will and never say die attitude. Forward thinking, continuously trying to improve and find optimum solutions. I am a very friendly, helpful, approachable, calm, and composed individual. Calm under pressure, with the ability to adapt and change my approach to challenging conditions. I work well with others. I am happy to share ideas, give and receive constructive feedback. I am self-motivated, proactive, and accountable. 

          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')
          
          span Paul Bailey

      block content

  script(src='/static/js/script.js')